<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarucsocialnetworking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserListActivity"
            android:parentActivityName=".InterestFieldActivity"></activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_profile"
            android:parentActivityName=".InterestFieldActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity
            android:name=".ChatLogActivity"
            android:label="@string/chatlog"
            android:parentActivityName=".InterestFieldActivity" />
        <activity
            android:name=".InterestFieldActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".FriendListActivity"
            android:label="@string/friendlist"
            android:parentActivityName=".InterestFieldActivity" />
    </application>

</manifest>